

.container{
    display: grid;
    grid-template-columns: repeat(3 , 3fr);
    grid-template-rows: repeat(3 , 160px);
    gap: 10px;
    padding: 20px;
}

.child{
    background-color: rgb(0, 187, 255);
    color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 10px;
}

