*{
    box-sizing: border-box;
    gap: 10px;
}
.parent{
    display: flex;
    padding: 10px;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
/* .box1{
    background-color: brown;
    color: white;
    text-align: left;
    padding: 10px;
    width: 50%;
} */
img{
    width: 40%;
    height: 40%;
    border-radius: 100%;
}
/*@media(orientation: landscape ){
    body{
    background-color: blue;
    }
}
@media(max-resolution:500dpi){
    body{
    background-color: greenyellow;
    }
} */
.box1{
    background-color: rgb(152, 149, 149);
    color: white;
    text-align: center;
    padding: 10px;
    width: 300%;
    box-shadow: rgb(202, 81, 81);
    border-radius: 10%;
} 
.box2{
    background-color: rgb(152, 149, 149);
    color: white;
    text-align: center;
    padding: 10px;
    width: 300%;
    box-shadow: rgb(215, 80, 80);
    border-radius: 10%;
}
.box3{
    background-color: rgb(152, 149, 149);
    color: white;
    text-align: center;
    padding: 10px;
    width: 300%;
    box-shadow: rgb(208, 79, 79);
    border-radius: 10%;
}

.box1:hover{
    background-color: rgb(63, 60, 60);
    box-shadow: 10px 8px 20px rgb(72, 69, 69);
}
.box2:hover{
    background-color: rgb(63, 60, 60);
    box-shadow: 10px 8px 20px rgb(72, 69, 69);
}
.box3:hover{
    background-color: rgb(63, 60, 60);
    box-shadow: 10px 8px 20px rgb(72, 69, 69);
}
